body{
    font-family: arial;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

div{
    margin: 0;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.red{
    display: flex;
    background-color: rgb(248,50,89);
    justify-content: center;
    align-items: center;
    padding: 4%;
    margin: 0.5%;
    width: 10%;
    float: left;
    height: 20vh;
    /* order: 1; */
}

.blue{
    display: flex;
    background-color: rgb(99,246,243);
    justify-content: center;
    align-items: center;
    padding: 4%;
    margin: 0.5%;
    width: 10%;
    float: left;
    height: 80vh;
    /* order: 3; */
}

.yellow{
    display: flex;
    background-color: rgb(255,255,4);
    justify-content: center;
    align-items: center;
    padding: 4%;
    margin: 0.5%;
    width: 29%;
    float: left;
    height: 42vh;
    /* order: 10; */
}

/* .order{
    display: flex;
    order: 2;
} */

/* 
@media screen and (max-width: 1600px) {
    
    body{
        background-color:cadetblue;
    }

    .container{
        display: flex;
        
    }

    .red{
        width: 41%;
        float: left;
        height: 10vh;
    }

    .blue{
        float: left;
        width: 41%;
        height: 10vh;
    }

    .yellow{
        float: left;
        width: 41%;
        height: 10vh;
    }

}


@media screen and (max-width: 600px) {
    
    body{
        background-color: beige !important;
    }

    .container{
        display: flex;
    }

    .red{
        width: 91%;
        
    }

    .blue{
        width: 91%;
    }

    .yellow{
        width: 91%;
    }

}
 */
